body {
    background-color: rgb(119, 119, 119);
    align-items: center;
}

#main-page {
    margin-right: 100px;
    margin-left: 100px;
    max-height: 100%;
}

#blank {
    visibility: hidden;
}

#tabs-container {
    cursor: default;
}

#ingredient-list-card {
    height: 100%;
    overflow-y: hidden;
}

/* .main-card {
    height: 90%;
}

.card {
    height: 100%;
} */

.menu-page {
    height: 90vh;
}

.modal-card {
    width: 20%;
}

.main-row {
    height: 90%;
}

.card-body {
    height: 100%;
}

.page-header {
    margin-bottom: 10px;
    border-bottom: 1px rgb(119, 119, 119) solid;
}

.page-control-menu {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px rgb(119, 119, 119) solid;
}

.label {
    font-size: small;
}

.ingredient-element {
    margin-top: 10px;
}

.unit {
    width: 100px;
}

